

<h1>Log In</h1>

<form action="<%=session_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="form_authenticity_token">

      <label for="username">Username</label>
      <input type="text" name="user[username]">

      <br>

      <label for="password">Password</label>
      <input type="password" name="user[password]">

      <br>

      <button>Log In</button>
</form>