<h1>Make A New Post</h1>

<form action="<%=posts_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="form_authenticity_token">
      <input type="hidden name="post[author_id]" value="<%= current_user.id %>">

      <label>Posting to
        <>
      </label>
      
      <label for="title">Title</label>
      <input type="text" name="post[title]" value="">

      <br>

      <label for="content">Content
      <textarea name="post[content]"></textarea>
      </label>

      <br>

      <label for="url">Link</label>
      <input type="text" name="post[url]">
      
      <br>

      <button>Submit</button>
</form>